/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BASIS */
body {
    font-family: Arial, sans-serif;
    line-height: 2;
    color: #333;
    background-color: #fafafa;
}

a {
    color: white;
    text-decoration: none;
}


.header {
    background-color: #111;
    color: #fff;
    padding: 1rem 2rem;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

.nav-links a:hover {
    text-decoration: underline;
}



/* SECTIONS */
.section {
    padding: 4rem 2rem;
    max-width: 1100px;
    margin: auto;
}

.section-light {
    background-color: #f0f0f0;
}

.section-dark {
    background-color: #111;
    color: #fff;
}

/* PROJECTS */
.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    margin-top: 2rem;
}

.project {
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 8px;
}

.section-dark .project {
    background-color: #222;
}

/* FOOTER */
.footer {
    background-color: #111;
    color: #fff;
    text-align: center;
    padding: 2rem;
}

.footer a {
    display: block;
    margin-top: 0.5rem;
    font-size: 0.9rem;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .nav {
        flex-direction: column;
        gap: 1rem;
    }
}

